# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model artifacts
models/*.pkl
models/*.joblib
!models/.gitkeep

# Environment variables
.env

# Logs
*.log