# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Data files
data/raw/*.csv
data/processed/*.csv
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model artifacts
*.pkl
*.joblib
!models/.gitkeep

# Environment variables
.env
venv/

# Logs
*.log

# Optuna
.optuna/
optuna.db
